<html>
<head>
    <title>Welcome</title>
</head> 
<body>
    <marquee><h1>DESIGN AND DEVELOP PROTOCOLS FOR COMMUNICATION BETWEEN ULTRASONIC SENSORS TO SERVERS</h1> 
    </marquee> 
    <div align='center'>
        <input type="button" style="background-color: #4CAF50;border: none;color: white;padding: 15px 32px;
        text-align: center;text-decoration: none;display: inline-block;font-size: 16px;"
         onclick="location.href='{% url 'home' %}'" value='IMAGE'/>
        
        <input type="button" style="background-color: #4CAF50;border: none;color: white;padding: 15px 32px;
        text-align: center;text-decoration: none;display: inline-block;font-size: 16px;" 
        onclick="location.href='{% url 'home2' %}'" value='LIVE'/>
        
    </div>
</body>
</html>